//960px以上のモニター

.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 150px !important;
}
.pd-lg {
  padding-bottom: 150px !important;
}

.header {
  
  &__nav {
    display: block;
  }
  
}

.mobile-menu-container {
  display: none;
}

.cordinate {

  &__img {
    & picture {
      height: 250px;
      width: 400px;
      margin: 20px 25px;
    }
  }
}
